<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Scrape Homework</title>
	<!-- Font Awesome -->
	<link rel="stylesheet" href="css/fontawesome-all.min.css">
	<!-- Bootstrap core CSS -->
	<link href="../../public/css/bootstrap.min.css" rel="stylesheet">
	<!-- Material Design Bootstrap -->
	<link href="../../public/css/mdb.min.css" rel="stylesheet">
	<!-- Your custom styles (optional) -->
	<link href="../../public/css/styles.css" rel="stylesheet">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700&display=swap" rel="stylesheet">
</head>

<body>
	<div class="container">

		YIKES
			{{{ body }}}
	</div>
	<!-- SCRIPTS -->
	<!-- JQuery -->
	<script type="text/javascript" src="../../public/js/jquery-3.4.1.min.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="../../public/js/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="../../public/js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="../../public/js/mdb.min.js"></script>

	<script type="text/javascript" src="../../public/app.js"></script>

	<script type="text/javascript" src="../../public//js/all.min.js"></script>


</body>

</html>